<head>
    <link href="changa.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <script src="jquery.min.js"></script>
    <script src="bundle.js"></script>
    <title>Blockly.IO</title>
</head>
<body>
    <canvas id="main-ui"></canvas>
    <div id="stats" style="opacity: 0" class="fullscreen hidden"></div>
    <div id="begin" style="opacity: .99999" class="fullscreen">
        <div class="center">
            <h1>뇌</h1>
            <small>와행동</small><br>
            
            <h1>이름</h1>
            <input autocomplete="off" id="name" placeholder="겹치면 안돼요">
            <button type="submit">시작</button>
            <div>
                <small id="error">Your browser does not support JavaScript!</small>
            </div>
        </div>
    </div>
</body>